{{ form_start(form, {'attr': {  'class': 'flex flex-col items-center gap-8'}}) }}
    {{ form_widget(form, {'attr': {  'class': 'flex flex-col gap-8'}}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
