{% extends 'base.html.twig' %}

{% block title %}New TeamPlayer{% endblock %}

{% block body %}
    <h1>Create new TeamPlayer</h1>

    {{ include('admin/team_player/_form.html.twig') }}

    <a href="{{ path('app_admin_team_player_index') }}">admin to list</a>
{% endblock %}
