{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}

    <h1 class="title_reset">Reset Password</h1>

        <div class="text">
            <p>Nous avons envoyé un mail pour réinitialiser votre mot de passe, 
            vous pouvez quitter cette page en cliquant sur le bouton juste en dessous</p>

            <div class="button">
                <a href=""></a>
            </div>
{% endblock %}
