{% extends 'base.html.twig' %}

{% block title %}Hello TeamsController!{% endblock %}

{% block body %}

<div>
    {% for team in teams %}
        <div>
            <h2>{{ team.name }}</h2>
            <img src="{{ team.logo }}" alt="{{ team.name }}" />
            <span>{{ team.region }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}
