{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <h1>Create new Team</h1>

    {{ include('admin/team/_form.html.twig') }}

    <a href="{{ path('app_admin_team_index') }}">admin to list</a>
{% endblock %}
