@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "beaufort";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BeaufortforLOL-Regular.ttf"); /* IE9 Compat Modes */
  // src: local(""), url("../fonts/BeaufortforLOL-Regular.ttf") format("truetype");
}

:root {
  --blue-primary-color: #0ac7b8;
  --blue-secondary-color: #ccf9f9;
  --gold-primary-color: #c79a3c;
  --gold-secondary-color: #efe5d1;
}
body {
  //   background-color: lightgray;
}

.btn {
  position: relative; /* this one is new - used to contain absolute elements */
  padding: 1rem 5rem;
  color: var(--blue-primary-color);
  background-color: var(--blue-secondary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  &.primary {
    background-color: var(--blue-primary-color);
    color: var(--blue-secondary-color);
  }
  &.gold {
    color: var(--gold-primary-color);
    background-color: var(--gold-secondary-color);
    &.primary {
      background-color: var(--gold-primary-color);
      color: var(--gold-secondary-color);
    }
  }
  &:after,
  &:before {
    transition: 0.5s;
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;

    background-color: #fff; /* to see where it is */
  }
  &:before {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%) rotate(45deg);
  }
  &:hover {
    &:before {
      top: -40px;
      left: -40px;
    }
    &:after {
      bottom: -40px;
      right: -40px;
    }
  }
}

input[type="email"],
input[type="password"],
input[type="text"] {
  @apply bg-gray-100 px-2 py-1 rounded	outline-0;
}
