{% extends 'base.html.twig' %}

{% block title %}New Matchs{% endblock %}

{% block body %}
    <h1>Create new Matchs</h1>

    {{ include('back/matchs/_form.html.twig') }}

    <a href="{{ path('app_back_matchs_index') }}">back to list</a>
{% endblock %}
