{% extends 'base.html.twig' %}

{% block title %}New Matchs{% endblock %}

{% block body %}
    <h1>Create new Matchs</h1>

    {{ include('admin/matchs/_form.html.twig') }}

    <a href="{{ path('app_admin_matchs_index') }}">admin to list</a>
{% endblock %}
