<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="mt-32">
        <nav class="fixed z-9999 top-0 py-3 px-8 bg-darkBlue-150 w-full text-gold-150 font-beaufort flex justify-between items-center">
        <div class="text-3xl">
        <a href="/">
            <img src="/assets/images/logo.svg" alt="logo" class="h-16">
        </div>
        <ul class="nav  gap-8  hidden md:flex ">
            <li><a href="/">Home</a></li>
            {% if app.user %}
            <li><a href="/mybets">My bets</a></li>
            {% endif %}

            <li><a href="/matchs">Matchs</a></li>
            <li><a href="/teams">Teams</a></li>

            {% if app.user %}
            <li><a href="/profile">My Profile</a></li>
            {% endif %}

            {% if app.user and app.user.getRoles[0] == 'ROLE_ADMIN' %}
            <li><a href="/admin">Admin</a></li>
            {% endif %}

            {% if app.user == null %}
            <li><a href="/login">Login</a></li>
            {% endif %}

            {% if app.user %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
        <div id="menu-burger" class="block md:hidden pointer">
          <span></span>
          <span></span>
          <span></span>
        </div>
        </nav>
         <ul id="menu-side" class="nav  flex-col gap-8  hidden fixed  top-0 pt-32 px-12 w-full h-full z-999 bg-darkBlue-150 transition-all  ">
            <li><a href="/">Home</a></li>

            {% if app.user %}
            <li><a href="/mybets">My bets</a></li>
            {% endif %}
            <li><a href="/matchs">Matchs</a></li>
            <li><a href="/teams">Teams</a></li>

            {% if app.user %}
            <li><a href="/profile">My Profile</a></li>
            {% endif %}

            {% if app.user and app.user.getRoles[0] == 'ROLE_ADMIN' %}
            <li><a href="/admin">Admin</a></li>
            {% endif %}

            {% if app.user == null %}
            <li><a href="/login">Login</a></li>
            {% endif %}

            {% if app.user %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
        {% block body %}{% endblock %}
        {# templates/sendinblue/form.html.twig #}
    </body>
</html>


<script>
const burgerMenu = document.querySelector("#menu-burger")
const sideMenu = document.querySelector("#menu-side")

burgerMenu.addEventListener('click',()=>{
    burgerMenu.classList.toggle('checked')
    sideMenu.classList.toggle('show')
    {# openMenu() #}
})
  const closeMenu = () => {
    sideMenu.style.display = 'none'
  }

  const openMenu = (target) => {
    sideMenu.style.display = 'block'
  }

</script>