<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="mt-32">
        <nav class='fixed z-9999 top-0 py-3 px-8 bg-darkBlue-150 w-full text-gold-150 font-beaufort flex justify-between items-center'>
        <div class="text-3xl">
        <img src="/assets/images/logo.svg" alt="logo" class="h-16">
        </div>
        <ul class="nav flex gap-8 text-xl font-bold">
            <li><a href="#">My bets</a></li>
            <li><a href="/matchs">Matchs</a></li>
            <li><a href="/teams">Teams</a></li>
            <li><a href="/profile">My Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        </nav>
        {% block body %}{% endblock %}
        {# templates/sendinblue/form.html.twig #}
    </body>
</html>
