{% extends 'base.html.twig' %}

{% block title %}New Bet{% endblock %}

{% block body %}
    <h1>Create new Bet</h1>

    {{ include('back/bet/_form.html.twig') }}

    <a href="{{ path('app_bet_index') }}">back to list</a>
{% endblock %}
