{% extends 'base.html.twig' %}

{% block title %}Hello MatchsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { adminground: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
    {% for match in matchs %}
        <li class="border-2 border-black-200 mt-2">
        <div>
            {{ match.teamOne }} - {{ match.teamTwo }}
            <div>
                <button>{{ match.teamOneRating }}</button>
                <button>{{ match.teamTwoRating }}</button>
            </div>  
        </div>
        </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
